/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
   font-size: 62.5%;
   /* 1rem = 10px */
}

/* Variables */
:root {
   /* Font Sizes & Family */
   /* if we set html's font size 62.5% then 1rem = 10px */

   --body-font: 'Poppins', sans-serif;

   --big-font: 4rem;
   --h1-font: 3.6rem;
   --h2-font: 2.4rem;
   --h3-font: 2rem;
   --h4-font: 1.8rem;
   --normal-font: 1.6rem;
   --small-font: 1.4rem;
   --smaller-font: 1.3rem;

   /* Font Weight ***/
   --font-regular: 400;
   --font-medium: 500;
   --font-semi-bold: 600;

   /* Color Variables */
   --primary-color: #c87e4f;
   --primary-color-hover: #c2703d;
   --text-color: #333;
   --text-color-light: #888682;
   --border-color: #484848;
   --white-color: #fff;
   --section-bg: #2c3034;

   /* z-index */
   --z-overlay: 10;
   --z-fixed: 100;

   /* transition */
   --tran-0-2: 0.2s;
   --tran-0-3: 0.3s;
   --tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
   :root {
      --big-font: 3.5rem;
      --h1-font: 2.4rem;
      --h2-font: 2rem;
      --h3-font: 1.8rem;
      --h4-font: 1.6rem;
      --normal-font: 1.5rem;
      --small-font: 1.3rem;
      --smaller-font: 1.2rem;
   }
}


/* Pre-CSS */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
button,
input {
   font-family: var(--body-font);
   font-size: var(--normal-font);
   font-weight: var(--font-regular);
   color: var(--text-color);
}

body {
   overflow-x: hidden;
   background-color: var(--white-color);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.button {
   border: none;
   outline: none;
   padding: 1.4rem 4rem;
   border-radius: 3rem;
   background-color: var(--primary-color);
   color: var(--white-color);
   transition: var(--tran-0-3);
   cursor: pointer;
}

.button:hover {
   background-color: var(--primary-color-hover);
}

.content-subtitle,
.section-subtitle {
   color: var(--primary-color);
   font-size: var(--normal-font);
   letter-spacing: 1px;
   font-weight: var(--font-medium);
   text-align: center;
}

.section-title,
.content-title {
   text-align: center;
   font-size: var(--h2-font);
   font-weight: var(--font-medium);
   margin: 1rem 0;
}

.section-description,
.content-description {
   text-align: center;
   margin-bottom: 2rem;
}

/* Reusuable CSS */
.section {
   padding: 7rem 2rem;
}

.container {
   max-width: 1030px;
   width: 100%;
   margin: 0 auto;
   padding: 0 3rem;
}

.flex {
   display: flex;
   align-items: center;
   column-gap: 0.6rem;
}

/* Header */
.header {
   position: fixed;
   top: 0;
   left: 0;
   height: 7rem;
   width: 100%;
   z-index: var(--z-fixed);
   /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

/* nav */
.nav {
   position: relative;
   height: 100%;
   justify-content: space-between;
   align-items: center;
}

.menu-list {
   column-gap: 2rem;
}

.logo-icon,
.logo-text,
.nav-link,
.phone-icon,
.phone-number {
   color: var(--white-color);
}

.logo-icon,
.phone-icon {
   font-size: 2rem;
}

.nav-link {
   position: relative;
   text-transform: capitalize;
}

.nav-link::before {
   content: '';
   position: absolute;
   left: 50%;
   bottom: -8px;
   height: 6px;
   width: 6px;
   border-radius: 50%;
   background-color: var(--white-color);
   transform: translateX(-50%);
   opacity: 0;
}

.active-navlink::before {
   opacity: 1;
}

.navclose-btn,
.navopen-btn,
.media-icons {
   display: none;
}

/* nav responsive */

@media screen and (max-width: 776px) {
   .contact-content {
      display: none;
   }

   .navclose-btn,
   .navopen-btn,
   .media-icons {
      display: block;
   }

   .nav .menu-content {
      position: fixed;
      top: 0;
      right: -100%;
      max-width: 300px;
      width: 100%;
      height: 100%;
      z-index: var(--z-fixed);
      background-color: var(--white-color);
      padding: 10rem 0 5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: var(--tran-0-5);
   }

   .nav-link {
      color: var(--text-color);
   }

   .nav-link::before {
      background-color: var(--text-color);
   }

   .nav .menu-content.open {
      right: 0;
   }

   .menu-list {
      flex-direction: column;
      row-gap: 2.5rem;
      font-size: var(--h4-font);
   }

   .navclose-btn {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 2.5rem;
      cursor: pointer;
   }

   .navopen-btn {
      cursor: pointer;
      font-size: 2rem;
      color: var(--white-color);
   }

   .media-icons {
      column-gap: 1rem;
   }

   .media-icons a {
      color: var(--text-color-light);
   }
}

/* Home */
.home {
   height: 100vh;
   width: 100%;
   /*background-color: red;*/
}

.swiper-slide {
   position: relative;
   height: 100vh;
   width: 100%;
}

.swiper-slide::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   z-index: var(--z-overlay);
}

.home-img {
   height: 100%;
   width: 100%;
}

/* swiper button */
.swiper-btn {
   height: 5rem;
   width: 5rem;
   color: var(--white-color);
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.2);
   transition: var(--tran-0-2);
   opacity: 0;
   visibility: visible;
}

.home:hover .swiper-btn {
   opacity: 1;
}

.swiper-btn:hover {
   background-color: rgba(255, 255, 255, 0.3);
}

.swiper-btn::after,
.swiper-btn::before {
   font-size: 2rem;
}

.swiper-button-next {
   right: 16rem;
}

.swiper-button-prev {
   left: 16rem;
}

.swiper-pagination-bullet {
   background-color: var(--white-color);
   opacity: 1;
   height: 1.5rem;
   width: 1.5rem;
   margin-bottom: 2rem;
   visibility: hidden;
}

.swiper-pagination-bullet-active {
   background-color: var(--primary-color);
   border: 3px solid var(--white-color);
}

.home-details {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: var(--z-fixed);
   transform: translate(-50%, -50%);
   display: grid;
   justify-items: center;
   row-gap: 4rem;
}

.home-subtitle {
   text-align: center;
   font-size: var(--normal-font);
   color: var(--white-color);
}

.home-title {
   text-align: center;
   font-size: var(--big-font);
   color: var(--white-color);
   font-weight: var(--font-semi-bold);
}

/* About */
.about .content-subtitle,
.about .content-title,
.about .content-description {
   text-align: left;
}

.about-content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 7rem;
   align-items: center;
   padding: 0 5rem;
}

.about-image {
   position: relative;
   max-width: 400px;
   height: 450px;
   border: 6px solid var(--section-bg);
}

.aboutimg-text {
   position: absolute;
   bottom: 2rem;
   right: -5rem;
   padding: 2rem;
   max-width: 360px;
   width: 100%;
   text-align: center;
   border: 6px solid var(--section-bg);
   background-color: var(--white-color);
}

.aboutimg-text .content-description {
   text-align: center;
   margin-bottom: 0;
}

.heart-icon {
   position: absolute;
   left: -1.9rem;
   top: 50%;
   height: 3rem;
   width: 3rem;
   background-color: var(--section-bg);
   transform: translateY(-50%);
   color: var(--white-color);
   justify-content: center;
   border-radius: 50%;
}

.about-details {
   display: grid;
   row-gap: 4rem;
}

.about-lists {
   column-gap: 1rem;
   align-items: baseline;
}

.about-list {
   font-weight: var(--font-medium);
   font-size: 1.8rem;
}

.about-list:nth-child(1) {
   color: var(--primary-color);
}

.about-list.dot {
   font-size: 2.5rem;
}

.about-buttons {
   column-gap: 2rem;
}

.about-link .link-text,
.about-arrowicon {
   color: var(--text-color);
   text-transform: uppercase;
}

.about-arrowicon {
   transition: var(--tran-0-3);
}

.about-link:hover .about-arrowicon {
   margin-left: 4px;
}

/* Menu */
.menu {
   background-color: var(--section-bg);
}

.section-title,
.section-description {
   color: var(--white-color);
}

.menu .menu-content {
   display: grid;
   grid-template-columns: 1.8fr 1fr;
   column-gap: 6rem;
   margin-top: 6rem;
}

.menu-img {
   height: 80px;
   width: 80px;
   margin-right: 1.5rem;
}

.menu-items {
   display: grid;
   row-gap: 1.5rem;
}

.menu-item {
   position: relative;
   background-color: var(--white-color);
   padding: 2rem 2.5rem;
}

.menuitem-details {
   margin-right: 1.5rem;
}

.menuitem-topic {
   font-weight: var(--font-semi-bold);
}

.menuitem-des {
   font-size: var(--small-font);
}

.menuitem-price {
   flex-direction: column;
   padding-left: 2rem;
   border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.descount-price {
   font-size: 1.8rem;
}

.real-price {
   text-decoration: line-through;
}

.time-topic {
   background-color: var(--primary-color);
   width: 100%;
   display: block;
   text-align: center;
   font-size: 1.8rem;
   font-weight: var(--font-regular);
   padding: 1.5rem 0;
   color: var(--white-color);
}

.time-list {
   background-color: var(--white-color);
   justify-content: space-between;
   padding: 1.5rem;
   border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.time-list:nth-child(7) {
   border-bottom: none;
}

/* Brand */


/* Review */


/* swiper btn */


/* Newsletter */


/* Footer */


/* Scroll Up */


/* Responsive media */

@media screen and (max-width: 768px) {
   .swiper-pagination-bullet {
      visibility: visible;
   }

   .swiper-btn {
      visibility: hidden;
   }
}